[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.111.2"
gunicorn = "==21.2.0"
python-dotenv = "==1.0.0"
uvicorn = {extras = ["standard"], version = "==0.23.2"}

[dev-packages]

[requires]
python_version = "3.14"
